@font-face {
	font-family: "Satisfy";
	src: url("/fonts/Satisfy-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Poppins";
	src: url("/fonts/Poppins-Light.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("/fonts/Poppins-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("/fonts/Poppins-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Bebas Neue";
	src: url("/fonts/BebasNeue-Regular.ttf") format("truetype");

	font-weight: 400;
	font-style: normal;
}

*,
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	-webkit-tap-highlight-color: transparent;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	touch-action: manipulation;
}

@media only screen and (max-width: 30rem) {
	html {
		font-size: 50%;
	}

	input,
	textarea,
	select {
		font-size: 16px;
		-webkit-text-size-adjust: 100%;
	}
}

.active {
	background: #022b3a;
}

.margin-left-small {
	margin-left: 1rem;
}

.margin-right-small {
	margin-right: 1.7rem;
}

.textDecor {
	text-decoration: none;
	color: #fff;
}

.link {
	color: #03045e;
	text-decoration: none;
	padding: 1rem;
	border-radius: 1rem;
	transition: all 0.3s;
}

.btnLink {
	text-decoration: none;
	color: #03045e;
	border: none;
}

.link:hover {
	background-color: #fff;
	color: #0077b6;
}
@media only screen and (max-width: 30rem) {
	.link:active,
	.link:hover {
		background-color: none;
		color: none;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes movedown {
	0% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes moveup {
	0% {
		opacity: 0;
		transform: translateY(2rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
