@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


*,
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	-webkit-tap-highlight-color: transparent;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

@media only screen and (max-width: 30rem) {
	html {
		font-size: 50%;
	}

	input,
	textarea,
	select {
		font-size: 16px;
		-webkit-text-size-adjust: 100%;
	}
}

.active{
	background: #022b3a;
}

.margin-left-small {
	margin-left: 1rem;
}

.margin-right-small {
	margin-right: 1.7rem;
}

.textDecor {
	text-decoration: none;
	color: #fff;
}

.link {
	color: #03045e;
	text-decoration: none;
	padding: 1rem;
	border-radius: 1rem;
	transition: all 0.3s;
}

.btnLink {
	text-decoration: none;
	color: #03045e;
	border: none;
}

.link:hover {
	background-color: #fff;
	color: #0077b6;
}
@media only screen and (max-width: 30rem) {
	.link:active,
	.link:hover {
		background-color: none;
		color: none;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes movedown {
	0% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes moveup {
	0% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0);
	}
}
